In [1]:
import numpy as np
import pandas as pd

In [2]:
dict1 = {
    "Name" : ['Harry','Satish','Ashish','Nick'],
    "Marks" : [50,41,38,22],
    "City" : ['Delhi','Vadodara','Mumbai','Kochi']
}

In [3]:
df = pd.DataFrame(dict1)

In [4]:
df

     Name  Marks      City
0   Harry     50     Delhi
1  Satish     41  Vadodara
2  Ashish     38    Mumbai
3    Nick     22     Kochi

In [5]:
df.to_csv('friends.csv')

In [6]:
df.to_csv('noIndex.csv',index = False)

In [15]:
df['Name'].head()

0     Harry
1    Satish
2    Ashish
3      Nick
Name: Name, dtype: object

In [14]:
filter = df['Marks']=='30'
print(df.loc[filter,:])

Empty DataFrame
Columns: [Name, Marks, City]
Index: []

In [ ]:
df.tail(2)

In [ ]:
df.describe()

In [ ]:
details = pd.read_csv('train.csv')

In [ ]:
details

In [ ]:
details['Speed'][0]=150

In [ ]:
details

In [ ]:
details.index = ['first','second','third','fourth']

In [ ]:
details